spring.application.name=portfolio

spring.datasource.url=jdbc:postgresql://localhost:5432/portfolio_db
spring.datasource.username=username
spring.datasource.password=password

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

spring.datasource.hikari.minimum-idle=0
spring.datasource.hikari.idle-timeout=0
spring.datasource.hikari.connection-timeout=0
spring.datasource.hikari.max-lifetime=0

admin.username=username
admin.password=password

cors.allowed.origins=url